{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/planta.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <nav>
        <div class="logo">
            <img src="{% static 'img/planta.png' %}" alt="Logo" width="30" height="30">
            <span class="logo-text">Jardinería</span>
        </div>
        <div class="toggle-menu">&#9776;</div>
        <ul class="menu">
            {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Nosotros</a></li>
            <li><a href="{% url 'products' %}">Productos</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bienvenido {{user.username}}</a>
            </li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Nosotros</a></li>
            <li><a href="{% url 'products' %}">Productos</a></li>
            <li><a href="{% url 'products' %}#contacto-section">Crear Usuario</a></li>
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
    
      <br><section class="banner">
        <h1>Sobre Nosotros</h1>
        <div class="p1banner">
            <p>Somos un grupo de estudiantes de DUOC UC, especializados en la carrera de analista programador computacional con énfasis en desarrollo web. Actualmente, estamos trabajando en un emocionante proyecto relacionado con la jardinería.

                Hemos sido asignados para desarrollar una aplicación web que satisfaga las necesidades de nuestros usuarios en el ámbito de la jardinería. Nuestro objetivo principal es permitir a los vecinos y entusiastas de la jardinería elaborar listas de compras eficientes y efectivas.
                
                A través de nuestra aplicación, los usuarios podrán organizar y optimizar sus presupuestos de manera sencilla. Nuestra plataforma proporcionará herramientas y funciones que les permitirán realizar un seguimiento de sus gastos, mejorar su planificación financiera y, al mismo tiempo, contribuir a una fundación sin fines de lucro.
                
                Además, nos hemos propuesto mejorar la experiencia de venta y despacho de productos para los comerciantes y proveedores del sector de la jardinería. Estamos implementando soluciones innovadoras que permitirán una gestión más eficiente y efectiva de sus productos, optimizando los procesos y mejorando la satisfacción de los clientes.
                
                Como estudiantes de DUOC UC, nos enorgullece tener la oportunidad de aplicar nuestros conocimientos en desarrollo web para brindar una solución práctica y valiosa en el campo de la jardinería. Estamos comprometidos en entregar un producto de alta calidad que cumpla con las expectativas y necesidades de nuestros usuarios.
                
                Estamos emocionados de embarcarnos en este desafío y esperamos poder contribuir de manera significativa al ámbito de la jardinería a través de nuestra aplicación web.</p>
        </div>
        <div class="container-clock">
            <h1 id="time">00:00:00</h1>
        </div>
        </section><br>

        



        <div class="row">
            <div class="column">
              <div class="card">
                <img class="img5" src="{% static 'img/maceta_nosotros.jpg' %}" alt="Misión" style="width:100%">
                <div class="container">
                    <h2>Nuestra Misión</h2>
                    <p>En nuestra página web, nos enfocamos en atender y gestionar a nuestros clientes de manera fácil y eficiente, ofreciendo productos de la categoría de jardinería. Todo esto lo hacemos con el objetivo de apoyar a una fundación sin fines de lucro.</p>
                    <p>Nuestra misión es proporcionar a nuestros clientes una experiencia de compra excepcional, brindándoles acceso a una amplia variedad de productos de jardinería de alta calidad, herramientas especializadas y recursos útiles para que puedan disfrutar y embellecer sus espacios verdes.</p>
                    <p>Buscamos facilitar la conexión entre los amantes de la jardinería y los proveedores de productos, creando una comunidad en línea donde los usuarios puedan compartir conocimientos, obtener consejos de expertos y contribuir al crecimiento y desarrollo de la jardinería sostenible.</p>
                    <p>Además, nos comprometemos a apoyar activamente a una fundación sin fines de lucro, destinando una parte de nuestras ganancias para respaldar sus proyectos y actividades relacionadas con la preservación del medio ambiente, la educación ambiental y el bienestar comunitario.</p>
                    <p><button class="button">Ver Más</button></p>                    
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img class="img5" src="{% static 'img/plantas_nosotros.jpg' %}" alt="Visión" style="width:100%">
                <div class="container">
                    <h2>Nuestra Visión</h2>
                    <p>Nuestra visión es llegar a un grupo más amplio de personas a través de nuestra página web especializada en ventas de productos de jardinería. Nos esforzamos por satisfacer las necesidades de las personas y contribuir a la fundación sin fines de lucro.</p>
                    <p>Creemos en la importancia de ofrecer una experiencia en línea excepcional, donde los usuarios puedan encontrar una amplia variedad de productos de jardinería de alta calidad y obtener asesoramiento experto para crear y mantener hermosos espacios verdes.</p>
                    <p>Buscamos fomentar la pasión por la jardinería y promover un estilo de vida saludable y sostenible, brindando a nuestros clientes las herramientas y recursos necesarios para cultivar su propio oasis verde.</p>
                    <p>Trabajamos constantemente para mejorar nuestra plataforma y ofrecer un servicio al cliente excepcional, garantizando una experiencia de compra fácil, segura y satisfactoria para todos nuestros usuarios.</p>
                    <p>Junto con nuestros clientes y la fundación sin fines de lucro, aspiramos a crear un impacto positivo en la comunidad, promoviendo la conservación del medio ambiente y apoyando proyectos sociales relacionados con la jardinería y el cuidado de la naturaleza.</p>
                    <p><button class="button">Ver Más</button></p>
                </div>
              </div>
            </div>
        </div><br>


        


        <button id="scrollToTopBtn" class="scroll-btn">↑</button>
        <button id="scrollToBottomBtn" class="scroll-btn">↓</button>





        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/g2YJnn0laME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div><br>
          
          


    




        
          



        <footer id="footer" class="footer">
            <div class="container">  <!--Los contenedores proporcionan un medio para centrar y rellenar horizontalmente el contenido de la pag-->
              <div class="row gy-3">
                <div class="img1">
                  <figure>
                      <img src="{% static 'img/planta.png' %}" width="50px" height="50px">
                  </figure>
                </div>
                <div class="col-lg-3 col-md-6 d-flex">            <!--d-flex Gestiona el dineño, alineacion y tamaño de las columnas de la cuadricula.-->
                  <div>
                    <h4>Dirección</h4>
                    <p>
                        Av. Esq. Blanca 501 <br>
                        Maipú, Región Metropolitana<br>
                    </p>
                  </div>
        
                </div>
        
                <div class="col-lg-3 col-md-6 footer-links d-flex">
                  <div>
                    <h4>Contáctanos</h4>
                    <p>
                      <strong>Telefono:</strong> +56976666680<br>  <!-- (STRONG) se usa para definir texto con gran importancia y lo muestra en negrita-->
                      <strong>Correo:</strong> re.sobarzo@duocuc.cl<br>
                    </p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 footer-links">
                  <h4>Siguenos</h4>
                  <div class="social-links d-flex">
                    <a href="https://twitter.com/home?lang=es" class="twitter"><i class="fa fa-twitter"></i></a>     
                    <a href="https://web.facebook.com/?_rdc=1&_rdr" class="facebook"><i class="fa fa-facebook"></i></a>        <!-- Nos indica un icono   -->
                    <a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="https://cl.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="container">
              <div class="copyright">
                &copy; Copyright <strong><span>Duoc UC</span></strong>. Todos los derechos reservados.
              </div>
              <div class="credits">Diseñado con <a href="https://www.w3schools.com">w3schools</a>
              </div>
            </div>
        
          </footer>


        





              
              

              
    
</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/java.js' %}"></script>
</html>